#login-register-form .login-form-container-4 {
    width: 280px;
    height: 406px;
    position: absolute;
    top: 156px;
    left: 315px;
    border: 0px, 0px, 4px, 0px;
    border-bottom: 5px solid var(--StandBlue, #005DAA);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 93, 170, 0.2);
  }
  
   .form-header-4 {
    width: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    margin-top: -63px;
  } 
  
  .form-header-4 .login-text,
  .register-text {
    font-size: 18px;
    font-weight: 400;
    font-family: Lora;
    line-height: 23px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #000;
  }
  
 
  .form-header-4 #link-1 {
    text-decoration: none;
  }
  
  
  .form-header-4 .login-text.active,
  .register-text.active {
    font-size: 19px;
    font-weight: 700;
    text-decoration: underline;
  }

  .form-container-4 {
    padding-left: 5px;
    padding-top: 10px;
  }
  
  
  .form-input-4 p {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lora';
    letter-spacing: 1px;
    line-height: 3px;
    color: #fff;
  }
  
  .form-input-4 input {
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    background: rgba(255, 255, 255, 0.65);
  }
  
  .form-input-4 input::placeholder {
    padding-left: 14px;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    color: #000;
  }

  
  .form-pass-login #login-btun {
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-top: 25px;
  }
  

  .form-pass-login button {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lora';
    letter-spacing: 1px;
    background: var(--StandBlue, rgba(0, 93, 170, 1));
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }

  
  .form-pass-login #advocate-name {
    width: 171px;
    height: 1px;
    text-align: center;
    padding-left: 17px;
    font-size: 18px;
    font-family: 'Lora';
    font-weight: 700;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
  }

  .form-pass-login h5 {
    position: absolute;
    bottom: -8px;
  }
  

  